/*! CONFIGURACION FONDO */
body{
    min-height: 100vh;
    background-image: url(../img/fondo_hotel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-rows: auto 1fr;
}
/*! CABECERA PRINCIPAL */
header{
    height: 5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    border-radius: 0 0 3rem 0; 
    background-color: goldenrod;
    color: white;
}
header h1{
    margin: 0 1rem 0 0;
    text-align: end;
    line-height: 2rem;
}
.cabecera-contenedor-logo{
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}
header div img{
    width: 4rem;
}
/*! ESTRUCTURA PAGINA MAIN*/
main{
        display: grid;
    grid-template-columns: auto 1fr;
}
/*! MENU */
.menu-lateral-extendido{
    width: 15rem;
    /* background-color: antiquewhite; */
}
/*! INFO USUARIO ACTUAL */
.menu-usuario{
    width: 100%;
    display: flex;
    margin: 0.5rem 0 1rem;
    background-color: goldenrod;
    border-radius: 0 1rem 1rem 0;
}
.menu-usuario img{
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    border-radius: 50%;
    outline: 4px solid black;
}
.info-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nombre-usuario{
    font-size: 0.8rem;
}
.rol-usuario{
    font-size: 0.5rem;
}
/*!MENU OPCIONES*/
.menu-lateral-extendido{
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 0 0.5rem 0 0;
}
.menu-opcion{
    display: flex;
    width: 90%;
    margin: 1rem 0.4rem 1rem 0;
    padding: 0.5rem 1rem;
    background-color: rgba(218, 165, 32);
    border-radius: 0 2rem 2rem 0;
    transition: all 100ms;
}
.menu-opcion:hover{
    background-color: rgb(254, 198, 54);
    transition: all 100ms;
    width: 98%;
}
.menu-opcion:active{
    background-color: rgb(182, 138, 28);
    width: 95%;
    transition: all 100ms;
}
.menu-opcion-simbolo{
    margin-right: 0.5rem;
    user-select: none;
}
.copy{
    text-align: center;
    font-size: 10px;
    color: rgba(169, 169, 169, 0.1);
    user-select: none;
}

/*!MODULO PRINCIPAL */
.principal{
    background: rgba(256, 256, 256, 0.2);
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
