.estado-general-hotel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.estado-hotel-slot{
    background-color: rgb(1, 91, 1);
    color: white;
    font-weight: bold;
    height: 11rem;
    border-radius: 1rem;
    padding: 0.5rem;
}